ion-datetime{
    background-color: none;


}
.datetime{
    background: none;
    align-items: center;
}
.tableReservationPage{
    justify-content: center;
}
ion-grid{
    margin-right: auto;
    margin-left: auto;
}
ion-grid h3{
    color: rgb(223, 158, 97);
    font-weight: bold;
}
ion-button{
    font-weight: bold;
    background-color: rgb(249, 84, 24);
    color: white;
}